.delete-added-item, .delete-item, .edit-item {
	cursor:pointer;
}


.item-container {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor:pointer;
}

.button-blue {
	display:inline-block;
	background-color: #3030aa;
	color:white;
	padding:5px;
	margin-right:1em;
	cursor:pointer;
}

.button-blue:hover {
	background-color: #30aa30;
}

.button-admin-red {
	display:inline-block;
	background-color: #aa3030;
	color:white;
	padding:5px;
	margin-right:1em;
	cursor:pointer;
}

.button-admin-red:hover {
	background-color: #aa8830;
}

.button-admin-green {
	display:inline-block;
	background-color: #30aa30;
	color:white;
	padding:5px;
	margin-right:1em;
	cursor:pointer;
}

.button-admin-green:hover {
	background-color: #aa3030;
}

.delete-choice {
	display:inline-block;
	background-color:#600;
	color:white;
	font-weight:bold;
	padding:10px;
	text-align:center;
	cursor:pointer;
}

.row-pagination, .row-buttons {
	margin-bottom:1em;
}

.row-pagination-footer {
	margin-top:1em;
}

.row-pagination {
	padding:5px 0px;
	background-color:#ccc;
}

.row-pagination div:nth-of-type(1) {
	text-align:left;
}

.row-pagination div:nth-of-type(2) {
	text-align:center;
}

.row-pagination div:nth-of-type(3) {
	text-align:right;
}

.row-column-titles {
	font-weight:bold;
}

.edit-theme {
	cursor: pointer;
}

.delete-theme {
	background-color:#600;
	color:white;
	font-weight:bold;
	padding:10px;
	text-align:center;
	cursor:pointer;
	cursor: pointer;
}

.disabled {
	color:#ddd;
	cursor:default;
}

.sort-dest td {
	background-color: #d8d8ff !important;
}

#breadcrumb ul.nav * {
	display:inline-block !important;
}

#breadcrumb .nav li:after {
	content: " > ";
}


/******** RULES *************/
.condition-term {
	color:white;
	background-color:#080;
	padding:5px 0.5em;
}

.condition-operator {
	color:white;
	background-color:#800;
	padding:5px 0.5em;
}

.ruleset-container {
	margin-bottom:1em;
}

.condition-add {
	cursor:pointer;
	background-color:#0a0;
	color:white;
	font-weight:bold;
}

.condition-delete {
	cursor:pointer;
	background-color:#a00;
	color:white;
	font-weight:bold;
}

div.picker-button {
	width:32px;
	height:32px;
	display:inline-block;
}

.icon-picker {
	display:none;
	position:absolute;
	z-index:1000;
	border-radius:20px;
	width:670px;
	height:480px;
	padding:10px;
	border:#666 3px solid;
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.6);
	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.6);
	background:white;
}

.icon-picker-header {
	height:5%;
	width:100%;
	margin-bottom:10px;
}

#icon-picker-cancel {
	cursor:pointer;
	float:right;
	background-color:#ccc;
	border-radius:5px;
	margin-right:2em;
	padding:2px 5px;
}

.icon-picker-icons {
	overflow:scroll;
	width:100%;
	height:90%;
	border:black 1px solid;
}

.icon-picker-image {
	width: 141px;
	height: 141px;
	float:left;
	padding:10px;
	margin:7px
}

