/****************** C5 overrides */
body {
    background-image:url(/packages/firstforwellbeing/themes/ffw_assessment/images/bckgnd-pattern-beige-01.gif) !important;
}

div.ccm-page {
	background:none !important;
	font-family:inherit;
}

/************** FFW */
div.ccm-page h1, h2 {
	font-family: Neucha,cursive !important;
	font-weight:normal;
}
div.ccm-page h1 {
	font-size: 46px;
	font-size: 2.875rem;
	text-align: center;
}
.text-pink {
	color: #f176a1;
}
h1 {
	font-size: 52px;
	font-size: 3.25rem;
	margin-bottom: 1em;
}
.text-primary {
	color: #333
}

.text-secondary {
	color: #81ba27
}

.text-red {
	color: #d51820
}

.text-pink, div h1.text-pink {
	color: #f176a1
}

.text-orange {
	color: #f57d20
}

.text-green {
	color: #486b2a
}


/*************************** FORM FIELDS */
form#form {
	font-size:20px;

}

.question-row {
	margin-bottom:1em;
    font-size:1.5rem;
}

.question-text {
    padding-bottom:10px;
	font-weight:300;
}

select, input, input.form-control, textarea {
	border: 1px solid;
	background:none;
	padding:10px;
	width:100%;
	font-size:inherit;
	border-style: solid;
	border-width: 12px 15px 9px 16px;
	-moz-border-image: url(/packages/firstforwellbeing/themes/ffw_assessment/images/border.png) 12 15 9 16 fill;
	-webkit-border-image: url(/packages/firstforwellbeing/themes/ffw_assessment/images/border.png) 12 15 9 16 fill;
	-o-border-image: url(/packages/firstforwellbeing/themes/ffw_assessment/images/border.png) 12 15 9 16 fill;
	border-image: url(/packages/firstforwellbeing/themes/ffw_assessment/images/border.png) 12 15 9 16 fill;
	outline:none;
}

select {
	overflow-y:hidden;
    -moz-appearance: none !important;
    -webkit-appearance: none;
}

option {
    color: #333;
}

select + .select-arrow {
	background-color:none;
	background:url(/packages/firstforwellbeing/themes/ffw_assessment/images/icon-caveat-dropdown.png) no-repeat;
	position:relative;
	float:right;
	top:-1.8em;
	left: -1em;
	width:14px;
	height:11px;
}

select:focus + .select-arrow {
	background-image:none;
}


input.yesnoicon-yes, input.yesnoicon-no, form#form input[type=checkbox] {
	display:none;
}

label.yesnoicon-yes {
	width:64px;
	height:64px;
	background: url(/packages/firstforwellbeing/themes/ffw_assessment/images/yes.png) no-repeat;
}

label.yesnoicon-no {
	width:64px;
	height:64px;
	background: url(/packages/firstforwellbeing/themes/ffw_assessment/images/no.png) no-repeat;
}

input.yesnoicon-yes:checked + label.yesnoicon-yes {
	background: url(/packages/firstforwellbeing/themes/ffw_assessment/images/yes-selected.png) no-repeat;
}

input.yesnoicon-no:checked + label.yesnoicon-no {
	background: url(/packages/firstforwellbeing/themes/ffw_assessment/images/no-selected.png) no-repeat;
}

input.radio-icon {
	display:none;
}

label.radio-icon {
	width:141px;
	height:141px;
	text-align:center;
	padding-top:141px;
	display:inline-block;
	margin-left:15px;
}

label.radio-icon-text {
    width:141px;
    text-align:center;
}

input.radio-icon:checked + div label {
	background-position:0px 141px;
}

.tick {
	width:60px;
	height:60px;
}

.tick.valid {
	 background:url(/packages/firstforwellbeing/themes/ffw_assessment/images/sprite-feedback.png) no-repeat 0px 0px;
 }

.tick.invalid {
	background:url(/packages/firstforwellbeing/themes/ffw_assessment/images/sprite-feedback.png) no-repeat 0px -65px;
}

.validation-error {
	/*background-color: red;*/
}

.validation-message {
	background-color: #f176a1;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	padding: 2px 10px;
	font-size: 75%;
	border: #a95170 2px solid;}

input[type="checkbox"]+label {
	width:100%;
	min-height:48px;
	padding-right: 55px;
	background:url(../images/bckgnd-checkbox.png) center right no-repeat;
}

input[type="checkbox"]:checked+label {

	background:url(../images/bckgnd-checkbox-checked.png) center right no-repeat;
}

/*************************** Pagination */
.page-prev {
	font-weight:bold;
	display:inline-block;
	margin-right:4em;
}

.page-next {
	font-weight:bold;
	display:inline-block;
}

.go-page {
	font-weight:bold;
	display:inline-block;
	margin-right:4em;
}



/* special classes */
.question-row.weight-bmi-score div {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.question.weight-bmi-score {
    font-size:300%;
}


/* login kludge until a better login skinning solution found */
body[data-path="/login"] form div + div + div, body[data-path="/login/authenticate/concrete"] form div + div + div {
    display:none;
}

body[data-path="/login"] form div + div + div + div, body[data-path="/login/authenticate/concrete"] form div + div + div + div {
    display:block;
}

div.login-row {
    padding-bottom: 50px;
}

/*****************************************/


span.edit input[type=radio] {
	width:auto;
}

#nav .primary-nav > li a {
	font-size:16px !important;
}

.footer-info {
	font-size:14px !important;
	font-weight:300 !important;
}

.footer-nav a {
	color:white !important;
	font-weight:300 !important;
}

.final-textarea {
	height:9em;
}

a:hover {
	color: #81ba27 !important;
}

.icon-twitter {
	color : #55acee;
}

.icon-twitter:hover {
	color : #81ba27;
}

.icon-facebook {
	color : #55acee;
}

.icon-facebook:hover {
	color : #81ba27;
}

.icon-email {
	color : #55acee;
}

.icon-email:hover {
	color : #81ba27;
}

div#tweet-goes-here * {
    display: inline-block;
    color: white;
    font-size: 15px;
}

input[disabled] {
    opacity: 0.5;
}